
{%   if site.headers | length > 0 %}
  # site-specific headers
{%     for header, value in site.headers.items() %}
{%       if value not in NONE_VALUES and value|default(none, true) is not none %}
{%         if 'header' in header %}
  {{ header }} {{ value }};
{%         else %}
  add_header {{ header }} {{ value }};
{%         endif %}
{%       endif %}
{%     endfor %}
{%   endif %}
